.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color:rgba(247, 233, 197, 1);
}

.menus {
background-color: rgba(173, 210, 176, 1);
}

.dinners {
background-color: rgba(211, 174, 200, 1); 
}
